<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/">
      <mat-icon>home</mat-icon>
      <span>Início</span>
    </button>
        <button mat-menu-item routerLink="/bookmarks">
      <mat-icon>bookmark</mat-icon>
      <span>Favoritos</span>
    </button>
    </mat-menu>
    <span>Previsão do Tempo</span>
</mat-toolbar>

<div class="container">
    <router-outlet></router-outlet>
    <div>